version: "3.9"

services:
  api:
    container_name: wss13_api
    build: .
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://postgres:wss13@db:5432/wss13
      - REDIS_URL=redis://redis:6379
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    container_name: wss13_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: wss13
      POSTGRES_DB: wss13
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: wss13_redis
    restart: always
    ports:
      - "6379:6379"

  nginx:
    image: nginx:alpine
    container_name: wss13_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./certbot:/etc/letsencrypt
    depends_on:
      - api

networks:
  default:
    name: wss13_network
